.container {
  flex: 100;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 30px;
  width: min(100%, 1080px);
  padding: 30px 30px 40px;
  margin: auto;
}

.container > h2 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
}

.cart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 30px;
}

.cart > div {
  display: grid;
  justify-items: center;
  gap: 5px;
  max-width: 100%;
  min-height: 200px;
  padding: 15px;
  background: linear-gradient(to bottom, #ffffff, silver);
  box-shadow: 2px 2px 4px #000000;
}

.background {
  min-height: 110px;
  background: linear-gradient(to top right, #000000, #ffffff);
}

.cart img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart input {
  text-align: center;
  width: 100%;
}

.cart h2 {
  font-size: 18px;
  text-align: center;
}

.toggles {
  justify-self: center;
  position: relative;
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: 20px 1fr 20px;
  gap: 10px;
}

.toggles label {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-align: center;
}

.toggles button,
.remove {
  border: 1px solid #000000;
  appearance: none;
}

.toggles button:focus,
.toggles input:focus,
.remove:focus {
  outline-offset: 2px;
  outline: 1px solid #000000;
}

.remove {
  grid-column: 1 / -1;
  padding: 2px 5px;
}

.sale {
  display: grid;
  justify-items: center;
  align-content: end;
  gap: 15px;
}

.sale h2 {
  font-size: 20px;
  text-align: center;
}

.purchase {
  align-self: start;
  font-weight: 600;
  width: 200px;
  padding: 5px 0px;
  border: 2px solid #000000;
  margin: 0px auto;
  background-color: #ffffff;
  transition: transform 0.3s ease;
}

.purchase:hover,
.purchase:focus {
  color: #008000;
  border: 2px solid #008000;
  outline: none;
  transform: scale(1.1);
}
